.place__link {
    max-width: 456px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: .3s;
}

.place__link:hover {
    transition: .3s;
    opacity: .8;
  }